#header {
	background-color: teal;
	color: whitesmoke;
	padding: 0.7em 2em;
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

#logo {
	flex: 1;
	font-size: 20pt;
}

.navbar-item {
	font-family: 'Open Sans Bold', sans-serif;
	font-weight: 700;
	margin: 0em 0.5em;
	padding: 0.5em 1em;
	background-color: rgba(0, 0, 0, 0);
	color: whitesmoke;
	font-size: 12pt;
	text-decoration: none;
}

.navbar-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0.2em;
}

.searchbox {
	padding: 0.5em 1em;
	border: 2px rgba(200, 200, 200, 1) solid;
	border-radius: 1.5em;
}

.searchbox:focus {
	outline: none;
}