.card {
	background-color: #e6e6e6;
	border-radius: 1em;
	margin: 0.6em 0.6em;
	margin-bottom: 1.5em;
	box-shadow: 0 0 0.4em 0.2em lightgray;
	cursor: pointer;
}

.card-container {
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	padding-right: 1em;
	padding-left: 1em;
}

.card-header {
	width: 100%;
	height: 11em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	overflow: hidden;
	object-fit: cover;
}
